.card-body {
    background-color: rgb(227, 227, 227) !important;
}

.card-header {
    background-color: rgb(227, 227, 227) !important;
}

.bg-silver {
    background-color: rgb(227, 227, 227);
}

.bg-red {
    background-color: rgb(171, 36, 36);
}
.card{
    background-color:  rgb(227, 227, 227) !important;
}
